/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */ }

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }
*{
    box-sizing: border-box;
}
/*HEADER SECTION WITH NAVBAR*/
.navbar{
    margin-bottom: 50px;
}
.navbar .container-fluid .navbar-brand > img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.navbar .container-fluid .navbar-brand{
    font-size: 2.5em;
    margin-right: 50px;
}

/*VISUAL DESIGN AND WEB DEVELOPMENT SECTION*/
h1{
    font-family: "ANTON";
    font-size: 3em;
    text-align: center;
    letter-spacing: 1px;
}
h3{
    font-family: "Anton";
    font-size: 2.5em;
    text-align: center;
}
body{
    font-family: "ABEL";
    background-color: #f0f0f0;
}
.visual{
    margin-bottom: 45px;
}
.park{
    margin-bottom: 80px;
}
/*FOUR BIG CIRCLES*/
.big-red-circle {
    width: 100px;
    height: 100px;
    background-color: #e6563b;
    border: 8px solid white;
}
.container .row .big-red-circle p{
    color: white;
    font-family: "Anton";
    font-weight: bold;
    margin-left: 11px;
    margin-top: 28px;
}
.big-orange-circle {
    width: 100px;
    height: 100px;
    background-color: #eb9d3a;
    border: 8px solid white;
}
.container .row .big-orange-circle p{
    color: white;
    font-family: "Anton";
    font-weight: bold;
    margin-left: 7px;
    margin-top: 28px;
}
.big-green-circle {
    width: 100px;
    height: 100px;
    background-color: #7cb06c;
    border: 8px solid white;
}
.container .row .big-green-circle p{
    color: white;
    font-family: "Anton";
    font-weight: bold;
    margin-left: 7px;
    margin-top: 28px;
}
.big-blue-circle {
    width: 100px;
    height: 100px;
    background-color: #00aba9;
    border: 8px solid white;
}
.container .row .big-blue-circle p{
    color: white;
    font-family: "Anton";
    font-weight: bold;
    margin-left: 17px;
    margin-top: 28px;
}

/*THE SELECTED CONTAINER*/
h6{
    text-align: center;
    padding-left: 0;
}
.col-7{
    padding-left: 0;
}
.container{
    padding-left: 0;
}
.col-7 .container .row img{
    width: 370px;
    height: 250px;
    border: 6px solid #e6e6e6;
}
.col-7 img{
    width: 350px;
    height: 250px;
    border: 6px solid #e6e6e6;
}
.small-red-circle{
    width: 18px;
    height: 18px;
    background-color: #e6563b;
}
.small-orange-circle{
    width: 18px;
    height: 18px;
    background-color: #eb9d3a;
}
.small-green-circle{
    width: 18px;
    height: 18px;
    background-color: #7cb06c;
}
.small-blue-circle{
    width: 18px;
    height: 18px;
    background-color: #00aba9;
}
/*THE LAST CONTAINER*/
.col-5 .container .row img{
    width: 100px;
    height: 100px;
    border: 6px solid #e6e6e6;
    padding-right: 0;
}
.container .row h4{
    font-family: "Anton";
    padding-left: 0;
    font-size: 1.7em;
}
.the-last-container .row{
    margin-left: 20px;
    margin-right: 20px;
}
hr{
    margin-bottom: 45px;
}
.col-6 .container .row .small-red-circle{
    padding: 10px;
}
.col-6 .container .row .small-orange-circle{
    padding: 10px;
}
.col-6 .container .row .small-green-circle{
    padding: 10px;
}
.col-6 .container .row .small-blue-circle{
    padding: 10px;
}
.col-7-container p{
    color: black;
    font-family: "Anton";
    margin-left: -4px;
    margin-top: -11px;
}