.main-container{
    border: 1px solid red;
    margin-left: 0;
    margin-right: 0;
}

/*HEADER SECTION WITH NAVBAR*/
.navbar .container-fluid .navbar-brand > img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.navbar .container-fluid .navbar-brand {
    font-size: 2.5em;
    margin-right: 50px;
}
.navbar-nav a {
    font-size: 1em;
    margin-right: 20px;
    transition: 1s ease;
}
.navbar-nav a:hover {
    border-bottom: 1px solid black;
}

/*VISUAL DESIGN AND WEB DEVELOPMENT SECTION*/
h1 {
    font-family: "ANTON";
    font-size: 3em;
    text-align: center;
    letter-spacing: 3px;
}
h3 {
    font-family: "Anton";
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 2px;
}
body {
    font-family: "ABEL";
    background-color: #f0f0f0;
}

/*FOUR BIG CIRCLES*/
p.rounded-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Anton";
    font-weight: bold;
}
.big-red-circle {
    width: 100px;
    height: 100px;
    background-color: #e6563b;
    border: 8px solid white;
}
.big-orange-circle {
    width: 100px;
    height: 100px;
    background-color: #eb9d3a;
    border: 8px solid white;
}
.big-green-circle {
    width: 100px;
    height: 100px;
    background-color: #7cb06c;
    border: 8px solid white;
}
.big-blue-circle {
    width: 100px;
    height: 100px;
    background-color: #00aba9;
    border: 8px solid white;
}

/*SMALLER CIRCLES*/
p.ddsh{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Anton";

}
.small-red-circle {
    width: 18px;
    height: 18px;
    padding: 10px;
    background-color: #e6563b;
}
.small-orange-circle {
    width: 18px;
    height: 18px;
    padding: 10px;
    background-color: #eb9d3a;
}
.small-green-circle {
    width: 18px;
    height: 18px;
    padding: 10px;
    background-color: #7cb06c;
}
.small-blue-circle {
    width: 18px;
    height: 18px;
    padding: 10px;
    background-color: #00aba9;
}
/*THE SELECTED CONTAINER*/
h6 {
    text-align: center;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 10px) and (max-width: 768px){
    .navbar-brand{
        color: transparent;
    }
    .col-seven .container .row img {
        width: 400px;
        height: 310px;
        border: 6px solid #e6e6e6;
    }
    .featured{
        padding-left: 0;
    }
    /*THE LAST CONTAINER*/
    .col-five .container .row img {
        width: 200px;
        height: 200px;
        border: 6px solid #e6e6e6;
    }
    .container .row h4 {
        font-family: "Anton";
        font-size: 1.5em;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar-brand{
        color: black;
    }
    /*THE SELECTED CONTAINER*/
    .col-seven .container .row img {
        width: 275px;
        height: 200px;
        border: 6px solid #e6e6e6;
    }
    .featured{
        padding-left: 0;
    }

    /*THE LAST CONTAINER*/
    .col-five .container .row img {
        width: 150px;
        height: 150px;
        border: 6px solid #e6e6e6;
    }
    .container .row h4 {
        font-family: "Anton";
        font-size: 1em;
    }
    .four-circle{
        margin-left: 100px;
        margin-right: 100px;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar-brand{
        color: black;
    }


    /*THE SELECTED CONTAINER*/
    /*.the-selected{*/
    /*    margin-bottom: 90px;*/
    /*}*/
    h6 {
        text-align: center;
    }
    .col-seven .container .row img {
        width: 275px;
        height: 200px;
        border: 6px solid #e6e6e6;
    }
    .featured{
        padding-left: 0;
    }

    /*THE LAST CONTAINER*/
    .col-five .container .row img {
        width: 100px;
        height: 100px;
        border: 6px solid #e6e6e6;
    }
    .container .row h4 {
        font-family: "Anton";
        font-size: 1em;
    }
    .four-circle{
        margin-left: 200px;
        margin-right: 200px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .navbar-brand{
        color: black;
    }

    .col-seven .container .row img {
        width: 355px;
        height: 250px;
        border: 6px solid #e6e6e6;
    }
    .featured{
        padding-left: 0;
    }

    /*THE LAST CONTAINER*/
    .col-five .container .row img {
        width: 100px;
        height: 100px;
        border: 6px solid #e6e6e6;
    }
    .container .row h4 {
        font-family: "Anton";
        font-size: 1em;
    }
    .four-circle{
        margin-left: 270px;
        margin-right: 270px;
    }

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    h1{
        letter-spacing: 3px;
    }

    /*THE SELECTED CONTAINER*/
    .col-seven .container .row img {
        width: 355px;
        height: 250px;
        border: 6px solid #e6e6e6;
    }
    .featured{
        padding-left: 0;
    }

    /*THE LAST CONTAINER*/
    .col-five .container .row img {
        width: 100px;
        height: 100px;
        border: 6px solid #e6e6e6;
    }
    .container .row h4 {
        font-family: "Anton";
        font-size: 1.7em;
    }
    .four-circle{
        margin-left: 350px;
        margin-right: 350px;
    }
}